# Apple temporary
auditlogs/.DS_Store
.DS_Store

.DS_Store
auditlogs/export-auditlogs-to-ELK/terraform/.terraform/providers/registry.terraform.io
auditlogs/export-auditlogs-to-ELK/terraform/.terraform.lock.hcl

# Word temporary
~$*.doc*
auditlogs/export-auditlogs-to-ELK/terraform/task — копия.txt
auditlogs/export-auditlogs-to-ELK/terraform/1
