# Apple temporary
auditlogs/.DS_Store
.DS_Store

.DS_Store
auditlogs/export-auditlogs-to-ELK/terraform/.terraform/providers/registry.terraform.io
auditlogs/export-auditlogs-to-ELK/terraform/.terraform.lock.hcl

# Word temporary
~$*.doc*
auditlogs/export-auditlogs-to-ELK/terraform/task — копия.txt
auditlogs/export-auditlogs-to-ELK/terraform/1
auditlogs/export-auditlogs-to-ELK/backup/ECS-mapping_new.docx
auditlogs/export-auditlogs-to-ELK/backup/kms_decrypt_cmds.sh
auditlogs/export-auditlogs-to-ELK/backup/mapping6.json
auditlogs/export-auditlogs-to-ELK/backup/curl_play with elk.sh
auditlogs/export-auditlogs-to-ELK/backup/*


# Compiled files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.tfvars
.terraform.lock.hcl
# logs
*.log
*s3cfg
# zip files
*.zip
*gatekeeper-library/
# Directories
.terraform/
.vagrant/

# SSH Keys
*.pem

# Backup files
*.bak

# Ignored Terraform files
*gitignore*.tf

# Ignore Mac .DS_Store files
.DS_Store

# Ignored vscode files
.vscode/

# Ignore Any Generated JSON Files
operations/automation-script/apply.json
operations/automation-script/configversion.json
operations/automation-script/run.template.json
operations/automation-script/run.json
operations/automation-script/variable.template.json
operations/automation-script/variable.json
operations/automation-script/workspace.template.json
operations/automation-script/workspace.json
operations/sentinel-policies-scripts/create-policy.template.json
operations/sentinel-policies-scripts/create-policy.json
operations/variable-scripts/variable.template.json
operations/variable-scripts/variable.json

*.kubeconfig*